#navbar {
    display: flex;
    margin-top: 0;
    background-color: aliceblue;
    overflow: auto;
    height: 50px;
    border-style: hidden hidden solid hidden;
    border-width: 1px;
    justify-content: space-around;
}

#navbar li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    align-self: center;
    font-family: 'Garamond';
    font-size: 25px;
}