body {
  background: url("HomeBackground.png") no-repeat center fixed;
  background-size: cover;
  margin: 0;
}

.center {
  text-align: center;
  padding: 150px 0;
}

.logo {
  height: 250px;
  width: 250px;
}

.header {
  font-size: 150px;
  font-weight: "bolder";
  font-family: "Garamond";
}

a {
  text-decoration: none;
}
