#header {
    text-align: center;
    padding: 40px;
    font-family: 'Garamond';
}

#about {
    background-color: aliceblue;
    border-style: solid hidden solid hidden;
    border-width: 1px;
    margin-bottom: 50px;
}

#ourGoal {
    font-size: 20px;
    text-align: justify;
    line-height: 2;
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#developers {
    background-color: aliceblue;
    border-style: solid hidden solid hidden;
    border-width: 1px;
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.developer {
    display: flex;
    align-items: center;
}

#developers img {
    height: 275px;
    margin-left: 5%;
    margin-right: 5%;
}

.name {
    font-size: 35px;
    font-family: 'Garamond Bold';
}

#extraStats {
    background-color: aliceblue;
    border-style: solid hidden solid hidden;
    border-width: 1px;
    float: left;
    width: 100%;
}

.bgWhite {
    background-color: white;
}